<div class="container">
  <div class="row">
    <div class="col-lg-12">
      Lessons Main
    </div>
  </div>
  <% @lessons.each do |lesson| %>
    <div class="row">
      <div class="col-lg-12">
        <%= lesson.name %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <%= lesson.description %>
      </div>
    </div>
    <pre data-enlighter-language="html">
      <%= lesson.syntax %>
    </pre>
    <div class="row">
      <div class="col-lg-12">
        <%= link_to 'Edit Lesson', edit_lesson_path(lesson) %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <%= link_to 'Delete Lesson', lesson_path(lesson), method: :delete %>
      </div>
    </div>

  <% end %>
  <div class="row">
    <div class="col-lg-12">
      <%= render 'admins/shared/adminlinks' %>
    </div>
  </div>
</div>
