<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>
        Create A New Lesson
      </h1>
    </div>
  </div>

  <%= form_for @lesson do |f| %>
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <%= f.label :name %>
      <%= f.text_field :name, class:'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <%= f.label :description %>
      <%= f.text_field :description, class:'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <%= f.label :syntax %>
      <%= f.text_area :syntax, class:'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <%= f.label :language_id %>
      <%= f.select :language_id, options_for_select(@languages.map {|l|[l.name, l.id]}) %>

  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <%=f.submit 'Create a Lesson', class:'btn' %>
    </div>
  </div>
<% end %>
</div>
