<!DOCTYPE html>
<html>
  <head>
    <title>CodingBuds</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= "#{controller_name} #{action_name}" %>">

  <nav class="navbar navbar-light">
  <a href="<%= root_path %>" class="navbar-brand" style="font-family: 'Lobster', cursive; font-size: 50px;"><i class="fas fa-cog fa-spin"></i>Coding Buds</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
   <br>
   <%=custom_bootstrap_flash %>

    <%= yield %>


  </body>
</html>
